#enter {
  background-color: skyblue;
  border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  #enter:hover {
    background: linear-gradient(135deg, #0056b3, #1e4f79);
}

h1{
  font-weight: bold;
  margin-bottom: 50px;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #cccaca;

}

label{
  font-size: 25px;
}
  
select, input[type="date"], input[type="time"] {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  border: none;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;
}

form {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.chart-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin-top: 100px; */
  width: 80%;
  height: 600px;
}

#startSelect, #endSelect{
  margin-left: 20px;
}

#endTime{
  margin-bottom: 50px;
}

@keyframes chartAnimation {
  0% {
      transform: scaleY(0);
      opacity: 0;
  }
  100% {
      transform: scaleY(1);
      opacity: 1;
  }
}

#sleepTrackerChart {
  animation: chartAnimation 1s ease-out; /* Apply animation on chart load */
}
