#enter {
    background-color: #81f0ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    margin-left: 100px;
  }

body {
    text-align: center;
    font-size: larger;
}
  
input[type=text] {
    padding: 3px 7px;
    margin: 10px 0;
    box-sizing: border-box;
}

#dayOfWeek{
  font-size: 18px;
  margin-bottom: 18px;
}

#dayLabel{
  margin-left: 290px;
  font-size: 20px;
}

#dateLabel{
  font-size: 20px;
  margin-bottom: 50px;
}

form {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.chart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 50px;
  width: 80%;
  height: 400px;
}


#endTime{
  margin-bottom: 50px;
}
