header {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    height: 45; /* Adjust the height as needed */
}

/* Style for the ul (list) containing the tabs */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/*inactive tabs */
ul a {
    padding: 10px;
    background-color: white; 
    text-decoration: none;
    color: #333; 
}
  
/*active tab */
ul a.active {
    background-color: lightsteelblue; 
    color: #000;
}

/* nav element containing the tabs*/
nav {
    display: flex;
    justify-content: center; /* horizontal center */
}

h3 {
    margin-left: .5rem;
}
