.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }

.header1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px; 
}
  
  .edit-button {
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; 
}


  .save-button {
    padding: 10px 20px;
    background-color: mediumspringgreen;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .cancel-button {
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
/*profile specific*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

img {
    width: 200px; 
    height: 200px; 
}

.circle {       /*container for circle image*/
    width: 200px; /* diameter */
    height: 200px; /* diameter */
    background-color: white;
    border-radius: 50%; /* circular shape */
    overflow: hidden; /* hide stuff outside the circle */
    margin-top: 30px;
}

.circle img {
    width: 100%; /* Make the image width equal to the circle's diameter */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra space around the image */
}

h3 {
    font-size: 25px;
    padding-left: 30px;
    margin: 10px 0;
    font-weight: normal; 
  }

h3 input {
    margin: 18px 0; /* Adjust the vertical margin between labels and inputs */
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 400px; /* Set the width of the input elements to 100% */
    padding: 10px; /* Add padding inside the text boxes */
    border: 1px solid #ccc; /* Add a border to the text boxes */
    border-radius: 10px; /* Add rounded edges */
    margin-bottom: 10px; /* Add vertical margin between input elements */
}

