#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 4px;
}

.section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border: none;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.invisible-lines td {
    border: none;
}

.add-food-button {
    display: block;
    background-color: #D1E9F3;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}