body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 93vh;
    height: 960px;

}
  
main {
  flex: 1;
  padding: 10px;
}
  
/* space out tabs evenly across screen*/
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
  }
  
/* containing the tabs */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/*inactive tabs */
ul a {
    padding: 10px;
    background-color: white; 
    text-decoration: none;
    color: #333; 
}
  
/*active tab */
ul a.active {
    background-color: lightsteelblue; 
    color: #000;
}                                                           

h1 {
    margin-left: .5rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.section {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}
.section-label {
  font-weight: bold;
}
table {
  width: 100%;
}
table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: center;
}

.nav-icon {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Automatically calculate height based on the aspect ratio */
}
