h1 {
  margin-left: .5rem;
  text-align: center;
  margin-bottom: 30px
}

.pie-chart {
  width: 200px;
  height: 200px;
  background: conic-gradient(
    from 0deg,
    palegreen 33%,
    lightgoldenrodyellow 33% 66%,
    lightcoral 66% 100%
  );
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.percentage-display {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.text {
  font-size: 25px;
  padding-left: 30px;
  margin: 10px 0;
  font-weight: normal; 
}
