#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 4px;
}

.section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.section-title {
    font-size: 26px;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid skyblue;
}

.table-cals {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #dcd0ff;;
}

.table td, .table th {
    border: skyblue;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.invisible-lines td {
    border: none;
}

.add-food-button {
    display: block;
    background-color: #D1E9F3;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

td {
    font-size: 24px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

.edit-button {
    padding: 10px 20px;
    background-color: skyblue;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; 
    font-size: 18px;
}

.custom-table {
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
}
  
.table-header {
    text-align: center;
    padding: 10px; /* Adjust the padding for header cells */
}
  
.custom-table td {
    text-align: center;
    padding: 10px; /* Adjust the padding for data cells */
    width: 33%; /* Equal distribution of columns */
}


.header1 {
    overflow: hidden; /* Clear the float */
  }
  
  .edit-button {
    padding: 15px 30px;
    background-color: skyblue;
    color: black;
    font-weight: bold;
    font-size: 20px; /* Adjust the font size as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    }
  
  .cancel-button {
    float: right;
    padding: 15px 30px;
    font-size: 20px;
    background-color: tomato;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  
  .delete-button {
    float: right;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #FA8072;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }

  .learn-button {
    padding: 10px 20px;
    background-color: skyblue;
    color: black;
    font-size: 18px;
    /* Adjust the font size as needed */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .header2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
  }
  
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .pop-out-container {
    font-size: 25px;
    display: none;
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightcyan;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }