#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 4px;
}

.section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid skyblue;
}

.table-cals {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #dcd0ff;;
}

.table td, .table th {
    border: skyblue;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.invisible-lines td {
    border: none;
}

.add-food-button {
    display: block;
    background-color: #D1E9F3;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

.edit-button {
    padding: 10px 20px;
    background-color: skyblue;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; 
    font-size: 18px;
}

.custom-table {
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
}
  
.table-header {
    text-align: center;
    padding: 10px; /* Adjust the padding for header cells */
}
  
.custom-table td {
    text-align: center;
    padding: 10px; /* Adjust the padding for data cells */
    width: 33%; /* Equal distribution of columns */
}


.header1 {
    overflow: hidden; /* Clear the float */
  }
  
  .edit-button {
    float: left;
    padding: 10px 20px;
    font-size: 18px;
    background-color: skyblue;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  
  .cancel-button {
    float: right;
    padding: 10px 20px;
    font-size: 18px;
    background-color: tomato;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  