body {
    display: flex;
    flex-direction: column;
    min-height: 93vh;
  }
  
  main {
    flex: 1;
    padding: 10px;
  }
  
/* space out tabs evenly across screen*/
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
  }
  
/* containing the tabs */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/*inactive tabs */
ul a {
    padding: 10px;
    background-color: white; 
    text-decoration: none;
    color: #333; 
}
  
/*active tab */
ul a.active {
    background-color: lightsteelblue; 
    color: #000;
}                                                           

h1 {
    margin-left: .5rem;
}
