#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-left: .5rem;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 24px;
}

input[type="text"], input[type="number"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 24px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 24px;
}

.header1 {
    overflow: hidden; /* Clear the float */
  }
  
  .edit-button {
    float: left;
    padding: 15px 30px;
    font-size: 20px;
    background-color: skyblue;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  
  .return-button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: lightslategray;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  
  #keyboardImage {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  img {
    width: 640px; 
    height: 300px; 
  }
  
  #foodForm.scrollable{
    max-height: 420px;
    overflow-y: auto;
  }

  
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.pop-out-container {
  font-size: 25px;
  display: none;
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgreen;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}