
#to-do-list {
    /* max-width: 400px; */
    /* margin: 0 auto; */
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    list-style-type: disc;
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 86%;
    padding: 8px;
}

button {
    border: 1px solid black;
    background-color: #34b4c3;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    width: 10%;
    float: right
}

.completed {
    text-decoration: line-through;
    color: #888;
}