h1 {
    margin-left: .5rem;
    text-align: center;
  }

body {
  margin-left: 20px;
  margin-right: 20px;
}

label{
  font-size: large;
}

form {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.graph-container1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
  }

.graph-container2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
}

.nav-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-bottom: 50px;
}
  
.monthSelect {
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

canvas {
  width: 100%;
  max-width: 550px;
  margin: 10px;
}

select, input[type="date"], input[type="number"] {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  border: none;
  background-color: rgba(154, 152, 152, 0.1);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;
}

#enter {
  background-color: skyblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 25px;
}

#enter:hover {
  background: linear-gradient(135deg, #0056b3, #1e4f79);
}

@keyframes chartAnimation {
  0% {
      transform: scaleY(0);
      opacity: 0;
  }
  100% {
      transform: scaleY(1);
      opacity: 1;
  }
}
#calorie-chart{
  animation: chartAnimation 1s ease-out;
}

#weightChart {
  animation: chartAnimation 1s ease-out; 
}