h1 {
    margin-left: .5rem;
    text-align: center;
  }

.graph-container1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 50px;
  }

.graph-container2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-bottom: 50px;
}
  
canvas {
    width: 100%;
    max-width: 550px;
    margin: 10px;
  }
  